<p style="color: green"><%= notice %></p>
<h1>Shopping List</h1>
<div style="margin-bottom: 5px"><%= link_to "New Shopping List", new_shopping_path, class: "btn btn-primary"  %></div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
Card title
  </div>
  <div class="card-body">
    <h5 class="card-title">Info</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
    <div class="card-footer">
    <button type="button" class="btn btn-success">Done</button>
    <button type="button" class="btn btn-warning">Edit</button>
    <button type="button" class="btn btn-danger">Danger</button>
  </div>
</div>






  <%
=begin%>
 <% @family_members.each do |family_member| %>

    <div style="margin-top: 1rem; border: 1px solid black; padding: 1.5rem; border-radius: 1.5rem">
    <%= render family_member %>
    <p>
      <%= link_to "Show", family_member, class: "btn btn-info"  %>
    </p>
    </div>
  <% end %>
 
<%
=end%>

