<h1>Shopping List</h1>
<div style="margin-bottom: 5px"><button type="button" class="btn btn-primary">Add</button></div>
<div class="card" style="width: 18rem;">
  <div class="card-header">
Card title
  </div>
  <div class="card-body">
    <h5 class="card-title">Info</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
    <div class="card-footer">
    <button type="button" class="btn btn-success">Done</button>
    <button type="button" class="btn btn-warning">Edit</button>
    <button type="button" class="btn btn-danger">Danger</button>
  </div>
</div>