<h1 style="text-align: center;">Home Inventory</h1>
<% if current_user.present?  %>
<h2>User Info</h2>
<h2>House</h2>

<p><strong>House ID: </strong></p>
<p><strong>House Member: </strong></p>

<% else %>
<div class="row" style="padding: 1rem" >
<div class="col-md-6 col-sm-12" style="display: flex; justify-content: center" >

<div style="display: flex; justify-content: center; padding: 1rem; flex-direction: column"><%= image_tag "image.png",class: 'img-fluid' %></div>
</div>
<div class="col-md-6 col-sm-12">
<h2>Creating a new Family</h2>
<br />
<%= link_to "New family", new_family_path ,class: "btn btn-primary btn-block"%>
<br />
<h2>Creating a new Account or Sign in</h2>
<br />
<%= link_to "Sign In", login_path, class: "btn btn-secondary btn-block" %>
<br />
<%= link_to "Sign Up", sign_up_path, class: "btn btn-secondary btn-block" %>
</div>
</div>
<% end %>