<p style="color: green"><%= notice %></p>

<h1>Families</h1>

<div id="families">
  <% @families.each do |family| %>
    <%= render family %>
    <p>
      <%= link_to "Show this family", family %>
    </p>
  <% end %>
</div>

<%= link_to "New family", new_family_path %>
